


.container {
    display: inline-block;
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 20px;
    padding-right: 20px;
    
}
    .hero-row {
        display: inline-block;
        width: 600px;
        margin-left: calc((100% - 600px) / 2);
        text-align: center;
        
       
     }
        .hero-row > .logo {
            width: 100%;
            height: 40px;
            margin-bottom: 60px;
            object-fit: contain;
            
            object-position: center;

        }
        .title {
            text-transform: uppercase;
            font-size: 60px;
            margin-bottom: 30px;
            line-height: 50px;

        }
        .sub-title {
            font-size: 22px;
            
            line-height: 30px;
            margin-bottom: 60px;

        }
        .clock {
            margin-bottom: 60px;
        }
        .hero-row > .form {
            width: 90%;
           
            margin-left: 5%;
            margin-right: 5%;
            margin-bottom: 20px;
        }
    .row {
        display: inline-block;
        width: 1000px;
        margin-left: calc((100% - 1000px) / 2);
        
        
    }
        .left-column {
            display: inline-block;
           
            width: 50%;
            float: left;
            
        }
        .right-column {
            display: inline-block;
            
            width: 40%;
            float: right;
            
        }
            .column-title {
                margin-bottom: 30px;
             }
             .column-description {
                 margin-bottom: 30px;
             }
        .socials {
            display: inline-block;
            width: 100%;
            border-bottom: 1px solid #fff;
            text-align: center;
        }
        .footer-texts {
            display: inline-block;
            text-align: center;
            float: left;
             width: 600px;
            margin-left: calc((100% - 600px) / 2); 
            
        }

.bg-blue {
    background-color: #03A9F4;
}
.hero-bg {
    background-image: url(../img/hero-bg.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;
    background-attachment: fixed;
}


@media (max-width: 1100px) {
    .row {
        
        display: inline-block;
        width: 600px;
        margin-left: calc(( 100% - 600px) / 2);
    }

}
@media (max-width: 900px) {
    .row {
        width: 600px;
        margin-left: calc((100% - 600px) / 2);
    }
    .left-column {
        width: 100%;
        margin-bottom: 60px;
        
    }
    .right-column {
        display: inline-block;
        width: 100%;
        
       
    }
}
@media (max-width: 700px) {
    .hero-row {
        display: inline-block;
        width: 400px;
        margin-left: calc(( 100% - 400px) / 2);
       
    }
    .row {
        
        display: inline-block;
        width: 400px;
        margin-left: calc(( 100% - 400px) / 2);
    }
    .footer-texts {
        display: inline-block;
        width: 400px;
        margin-left: calc(( 100% - 400px) / 2);
    }
}
@media (max-width: 600px) {
    .row {
        
        /* display: inline-block;
        width: 400px;
        margin-left: calc(( 100% - 400px) / 2); */
    }
}
@media (max-width: 500px) {
    .container {
        padding-left: 20px;
        padding-right: 20px;
    }
    .hero-row {
        width: 100%;
        margin-left: 0;
        
    }
    .row {
        width: 100%;
        margin-left: 0;
    }
    .footer-texts {
        width: 100%;
        margin-left: 0;
    }
}

